/* Base CSS */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

#wrapper {
    max-width: 600px;
    width: 600px;
    margin: 0 auto;
    text-align: left;
}

body#left {
    text-align: left;
}

body#left #wrapper {
    margin: 0 20px;
}

h1 {
    font-size: 21px;
    padding: 0 10px;
    margin: 20px 0 0;
    font-weight: bold;
    color: var(--main-text-color);
}

h2 {
    font-size: 14px;
    padding: 0 10px;
    margin: 10px 0 0;
    color: var(--secondary-color);
    font-weight: normal;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

ul#header {
    margin-top: 20px;
}

ul li {
    display: block;
    list-style-type: none;
    overflow: hidden;
    padding: 10px;
}

ul li:hover {
    background-color: var(--main-bg-color);
}

ul li .date {
    text-align: center;
    width: 120px;
}

ul li .size {
    text-align: right;
    width: 90px;
}

ul li .date,
ul li .size {
    float: right;
    font-size: 12px;
    display: block;
    color: var(--secondary-color);
}

ul#header li {
    font-size: 11px;
    font-weight: bold;
    border-bottom: 1px solid var(--secondary-color);
}

ul#header li:hover {
    background-color: transparent;
}

ul#header li * {
    color: var(--main-text-color);
    font-size: 11px;
}

ul#header li a:hover {
    color: var(--secondary-color);
}

ul#header li .asc span,
ul#header li .desc span {
    padding-right: 15px;
    background-position: right center;
    background-repeat: no-repeat;
}

ul li.item {
    border-top: 1px solid var(--main-bg-color);
}

ul li.item:first-child {
    border-top: none;
}

ul li.item .name {
    font-weight: bold;
}

ul li.item .directory,
ul li.item .file {
    padding-left: 20px;
    background-position: left center;
    background-repeat: no-repeat;
}

#footer {
    color: var(--secondary-color);
    font-size: 11px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: left;
}

#footer a {
    color: var(--secondary-color);
    font-weight: bold;
}

#footer a:hover {
    color: var(--main-text-color);
}
